#carouselExampleCaptions{
    font-family: 'Playfair Display SC', serif;
}
.carousel1{
    width: 1500px;
    height: 700px;
}


.carousel-indicators{
    margin-bottom: 70px;
}
.carousel-caption {
    margin-bottom: 80px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    
  }

  .carousel-caption h5{
    color: white;
    font-size: 40px;
    
  }